<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @zombie.name %>
</p>

<p>
  <b>Graveyard:</b>
  <%= @zombie.graveyard %>
</p>

<p>
	<table>
	  <tr>
	    <th>Status</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @zombie.tweets.each do |tweet| %>
	  <tr>
	    <td><%= tweet.status %></td>
	  </tr>
	<% end %>
	</table>
</p>


<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
